<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Spring Boot and Thymeleaf, part 2 - forms</h3>
<form action="#" th:action="@{/}" th:object="${formData}" method="post">
    <table>
        <tr>
            <td>Voornaam:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</td>
        </tr>
        <tr>
            <td>Achternaam:</td>
            <td><input type="text" th:field="*{surname}" /></td>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Content error message</td>
        </tr>
        <tr>
            <td>Straatnaam:</td>
            <td><input type="text" th:field="*{streetName}" /></td>
            <td th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}">Content error message</td>
        </tr>
        <tr>
            <td>Huisnummer:</td>
            <td><input type="text" th:field="*{houseNumber}" /></td>
            <td th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}">Content error message</td>
        </tr>
        <tr>
            <td>Postcode:</td>
            <td><input type="text" th:field="*{zipCode}" /></td>
            <td th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}">Content error message</td>
        </tr>
        <tr>
            <td><button type="submit">Submit post</button></td>
        </tr>
    </table>
</form>
</body>
</html>